
html{
	background-color: #111;
	scroll-behavior: smooth;
}

body{
	margin: 0px;
	display: flex;
	flex-direction: column;
}

section{
	margin: 0px;
	
}


.fa{
	text-align: center;
	text-decoration: none;

}

.fa:hover{
	opacity: 0.9;
}


.fa-github{
	color: #000;
}



















/* LANDING SECTION */

section.landing{


	/* Auto Layout */

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	
	height: fit-content;

	background: #FFFFFF;
}

#particles-js{

	position: absolute;

	width: 100%;
	z-index: 0;
}

div.nav{
	/* Auto Layout */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 19px 15px;

	position: fixed;
	height: 30px;
	top: 0px;

	background: #222;
	border-radius: 0px 0px 35px 35px;


	z-index: 10; /* On top of other elements */

}

a.nav{
	width: 75px;
	height: 22px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	text-align: center;
	/* identical to box height */


	color: #FFF;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 20px;
	text-decoration:  none;
	
}

a.nav:hover{
	opacity: 0.9;
}


div.title{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	width: 570px;
	height: 153px;





	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 36px 0px;	
	margin-top: 300px;

	z-index: 1;
}

div.imhenry{
	position: static;
	width: 570px;
	height: 131px;
	left: 0px;
	top: 0px;
}

h1.imhenry{
	position: static;
	width: 494px;
	height: 131px;
	left: 76px;
	top: 0px;

	font-family: "Lora", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 100px;
	line-height: 131px;
	/* identical to box height */
	
	
	color: #000000;
	
	
	/* Inside Auto Layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 0px;
}

p.imhenry{
	position: static;
	width: 76px;
	height: 29px;
	left: 0px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 60px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}

p.phrase{
	position: static;
	width: 569px;
	height: 22px;


	font-family: "Lora", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 0px;
}

#v1{
	width: 100%;
	z-index: 1;

}





















/* ABOUT SECTION */

section.about{
	position: relative;
	top: -1px;
	background: linear-gradient(269.74deg, #FF877F 11.86%, #FFDA80 89.07%);

	display: flex;
	justify-content: center;

	padding: 100px 0px 0px 0px;
}



div.backdrop{
	background-color: #FFF;
	
	
	max-width: 1350px;
	margin: 0px 10px;

	border-radius: 50px;


}

div.backdrop2{
	background-color: #FFF;	
	margin: 32.5px;
	
	border-radius: 50px;

	display: flex;
	flex-direction: row;
	justify-content: center;

}

div.about{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 


	width: 1058px;
	height: 342.23px;
}

div.bio{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;

	position: static;
	width: 727px;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}

h1.about{


	font-family: "Lora", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 50px;
	line-height: 65px;

	margin-bottom: 0px;

}

p.about{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;

	width: 95%;
}

#portrait{
	/* width: 347px;
	height: 342.23px; */

	height: 80%;

	z-index: 1;	
}

#about-line{
	position: relative;
	background-color: #000;

	width: 101%;
	height: 2px;

	z-index: 0;
}
























/* WORDS SECTION */

section.words{
	position: relative;
	top: -1px;
	background: linear-gradient(269.74deg, #FF877F 11.86%, #FFDA80 89.07%);

	height: 300px;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

h1.words{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 73px;

	color: white;

	text-align: center;
}





















/* PROJECTS SECTION */

section.projects{
	position: relative;
	top: -1px;

	/* display: flex;
	flex-direction: row;
	justify-content: center; */

	background-color: #fff;
}

div.content{
	position: relative;

	margin: 80px 0px 0px 0px;

	width: 1350px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px 50px 0px 0px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fafafa;
}


#time-line{
	background-color: #FF9780;

	position: absolute;
	top: 190px;

	height: calc(100% - 190px);
	width: 4px;

}

div.heading{


	text-align: center;
	font-family: "Montserrat", sans-serif;
}

h1.heading{
	font-weight: 800;
	font-size: 50px;
	line-height: 61px;
	color: #FF9780;

	margin: 50px 0px 0px 0px;
}

h2.heading{
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;

	margin: 0px 0px 30px 0px;
}

div.item{
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 30px;
}

img.item{
	width: 450px;
	margin-right: 35px;
	object-fit: cover;

	border-radius: 10px;
}

.circle{
	height: 20px;
	width: 20px;
	background-color: #FF9780;
	border-radius: 50%;
	display: inline-block;	
}

div.text{
	position: relative;
	top: -10px;

	display: flex;
	flex-direction: column;


	margin-left: 35px;
	width: 450px;

}

h1.text{

	margin: 0px;


	font-family: "Lora", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 34px;
	line-height: 44px;
}

h2.text{
	margin: 0px;


	font-family: "Lora", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;

	color: #BBB;
}

p.text{
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;

}

div.projects-icons{

	display: flex;
	flex-direction: row;
	

	flex: 1;
}

a.projects-icons{
	font-size: 40px;
	width: 40px;


	margin: auto 10px -10px 0px;
}
















/* FOOTER SECTION */

section.footer{
	position: relative;
	top: -1px;
	background-color: #000;

	height: 300px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	
}

div.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;


}

div.footer-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	
}

div.box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.links{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	margin-top: 30px;
}

p.footer{
	font-family: 'Montserrat', sans-serif;

	color: #fff;
}

a.links{
	height: 22px;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	text-align: center;
	/* identical to box height */


	color: #FFF;


	/* Inside Auto Layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 20px;
	text-decoration:  none;
}

#footer-line{
	margin-top: 3px;
}




a.footer-icons{
	font-size: 50px;
	width: 50px;

	color: #FFF;
}

