body{
	margin: 0px;
	font-family: monospace;
}

h1#name, #iam{
	margin: 0px;
	font-size: 25px;
}

h1#name{
	font-size: 80px;
}

h1#helloworld{
	font-size: 30px;
	font-family: consolas, monospace;
	background-color: #00366b;
	padding: 5px;
}

h1#title{
	font-family: consolas, monospace;	
}



div#particles-js{
    background-color: #000;
}

div#me{
	color: white;
	padding: 10px;
	padding-left: 200px;
	padding-right: 200px;
    
	background-color: #0058b0;
	
    top: 175px;
    height: 350px;
    width: 50%;
    
    position: absolute;
}

section#first{
	display: inline;
	height: 800px;
}

.subhead{
	background-color: #0058b0;
	color: white;
}

